body
{
    font-style: italic;
	background-color: #FFFAF0;
	 font-size: 17pt
} 
sortable{width: 450px; margin: 0 auto; border-collapse: collapse;
font-size:13px; font-family:arial; color:#333;}
.sortable td{border: 1px solid #666;}
.sortable tr:nth-child(odd){background:#E6EEEE;}
.sortable tr:hover{background:#999; color:#fff; text-shadow:1px 1px 1px #333;}
